* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    border: 2px solid blue;

    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    width: 150px;
    height: 70px;
    border: 1px solid green;
    display: flex;
}